<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Claim</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/claim.css') }}">
</head>
<body>
    <header>
        <image src="{{ url_for('static', filename='images/logo.svg') }}" class="logo">
    </header>

    <div class="wrapper">
        <form action="{{ url_for('submit_claim') }}" method="POST">
            <h1>Informationen zum Schaden</h1>

            <div class="input-box">
                <div class="input-field">
                    <textarea name="schadenbeschreibung" placeholder="Beschreibung des Schadenhergangs*" required></textarea>
                    <ion-icon name="reader"></ion-icon>
                </div>
            
                <a href="{{ url_for('user_data') }}"><button type="button" class="btn-back">Zurück</button></a>
                <button type="submit" class="btn-forward">Weiter</button>
                
            </div>
        </form>
    </div>

    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
